#main-container {
    width: 608px;
    height: 42px;
    position: absolute;
    left: 0;
    right: 0;   
    top: 0;
    bottom: 0;
    margin: 20px auto;
}
.container-label {
    display: flex;
    width: 800px;
    height: 40px;
}
#body-container {
    position: relative;
    top: 10px;
    width: 608px;
    height: 600px;
    background: rgba(0,0,0,.7);
     /*background: rgba(76, 89, 95, 0.3);*/
    box-shadow: 25px 25px 15px rgba(0,0,0,.9);
    
}
#region_list_wrapper {
    position: absolute;
    display: none;
    /*border: 2px solid red;*/
    background: white;
    left: 5px;
    top: 180px;
    width: 307px;
    z-index: 1;
}
.list_wrapper {
    position: absolute;
    background: white;
    /*transition: all 1s;*/
    transform: rotateX(60deg);
    transform-origin: top;
    transition: all 0.5s;
}
#state_list_wrapper{ 
    display: none;
    left: 324px;
    top: 180px;
    width: 282px;

}
.list_items {
    border: 1px solid darkgray;
    margin-bottom: -1px;
}
#street_list_wrapper{
    display: none;
    left: 5px;
    top: 254px;
    width: 277px;
}
#district_list_wrapper {
    display: none;
    left: 5px;
    top: 370px;
    width: 215px;
}


#subMenuTU-container{
    display: none;
    position: absolute;
    width: 600px;
    height: 100px;
    transform: rotate(270deg) translate(-252px, -302px);
}

#createTu {
    width: 608px;
    height: 590px;
    border: 1px solid bisque;
}
.data {
    font-size: 1.1em;
    height: 30px;
    outline-color: orange;
    outline-width: 10px;
}
.data__label {
    /*border: 2px solid red;*/
    font-family: Helvetica;
    font-size: 1.1em;
    color: bisque;
    text-align: center;
    width: 200px;
}
.data__label_sName {
    
}
.data_name {
    width: 190px;
    margin-left: 3px;
}

#firstLineWrapper {
    margin-top: 50px;
    display: flex;
    /*justify-content: space-around;*/
}
#secondLineWrapper{
    display: flex;
    margin-top: 15px;
}
#thirdLineWrapper {
    display: flex;
    margin-top: 15px;
}
#fourthLineWrapper {
    display: flex;
    margin-top: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
li {
    font-size: 1.1em;
    
}
li:hover {
    cursor: pointer;
    background: rgb(201, 209, 209);
}
li::selection {
    background: transparent;
}

#buttonWrapper {
    display: flex;
    margin-top: 60px;
    width: 606px;

}
.data__label_district {
    margin-left: 3px;
    width: 213px;
}
.data_district{
    margin-left: 3px;
    width: 178px;
}
.data__label_kadastr {
    margin-left: 10px;
    width: 225px;
}
.kadastr_prfx {
    margin-left: 10px;
    display: inline-block;
    width: 60px;
}
.data_kadastr-dist {
    margin-left: 0px;
    width: 100px;
}
.data_kadastr-num {
    margin-left: 3px;
    width: 45px;
}
.data__label_address {
    margin-left: 8px;
    width: 140px;
}
.data_address {
    margin-left: 8px;
    width: 132px;
    height: 70px;
}
.data__label_region {
    margin-left: 3px;
    width: 300px;
}
.data_region{
    margin-left: 3px;
    width: 270px;


}
.wrapp-arrow {
    display: inline-block;
    width: 30px;
    height: 28px;
    font-family: Helvetica;
    font-size: 1.1em;
    background:rgb(241, 229, 229);
    text-align: center;
    padding-top: 6px;
    padding-bottom: -4px;
    padding-left: 5px;
    margin-left: -5px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    
    
    /*margin-bottom: 2px;*/
    
    /*margin: */
}
.wrapp-arrow:hover {
    cursor: pointer;
}
.arrow {
    border-radius: 50%;
    transition: all 0.4s;
}
.arrow::selection {
    background: transparent;
}
.data__label_state {
    margin-left: 10px;
    width: 275px;
}
.data_state {
    margin-left: 10px;
    width: 245px;
}
.data__label_street {
    margin-left: 3px;
    width: 270px;
}
.data_street {
    margin-left: 3px;
    width: 240px;
}
.data__label_house {
    margin-left: 5px;
    width: 47px;
}
.data_house {
    margin-left: 5px;
    width: 47px;
}
.data__label_korp {
    margin-left: 5px;
    width: 47px;
}
.data_korp {
    margin-left: 5px;
    width: 47px;
}
.data__label_appartment {
    margin-left: 5px;
    width: 44px;
}
.data_apartment {
    margin-left: 5px;
    width: 44px;
}
.data__label_phone{
    margin-left: 15px;
    width: 132px;
}
.data_prfx-phone {
    margin-left: 15px;
    width: 32px;
}
.data_num-phone {
    margin-left: 0px;
    width: 100px;
}
.b-wrapp {
    width: 303px;
}
.container-label__elements { 
    background: linear-gradient(#FE5D4C, #97253D);
   /* background: linear-gradient(rgb(102, 206, 219), rgb(45, 15, 80));*/
    border: 1px solid black;
    text-align: center;
    color: white;
    /*color: rgb(48, 38, 104);*/
    font-family: Helvetica;
    font-size: 1.2em;
    /*font-weight: bold;*/
    transition: all 0.7s;
    padding-top: 10px;
}
.container-label__elements::selection {
    background: transparent;
}
.majorMenu-label {
    height: 40px; 
    width: 150px;
}
.subMenuTU-container__element {
    height: 40px; 
    width: 150px;
    
}

.container-label__elements:hover {
    cursor: pointer;
}
.tu-buttons {
    height: 60px; 
    width: 150px;
    /*margin-left: 75px;*/
}
input[type=submit] {
    margin-left: 120px;
}
input[type=reset] {
    margin-left: 20px;
}
/*
.container-label__elements_text {
    display: block;
    padding-top: 50%;
}*/