html, body {
    height: 100%;
}
body{
    margin: 0;
}
.main-container {
    width: 608px;
    /* height: 42px; */
    position: absolute;
    left: 0;
    right: 0;   
    top: 0;
    bottom: 0;
    margin: 20px auto 0;
}
/* .major-menu-container-header {
    display: flex;
    height: 40px;
    border: 1px solid red;
} */
.major-menu-container-header {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.major-menu-header {
    display: table-cell;
}
.major-menu-header a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    display: block;
}
.sub-menu-container-header{
    width: 530px;
    /* display: table; */
    display: none;
    table-layout: fixed;
    position: absolute;
    transform: rotate(270deg);
    top: 285px;
    right: 363px;
}
.header__elements { 
    background: linear-gradient(#FE5D4C, #97253D);
    border: 1px solid black;
    text-align: center;
    color: white;
    font-family: Helvetica;
    font-size: 1.2em;
    transition: all 0.7s;
    line-height: 40px;
    /* padding-top: 10px; */
}
.input-data {
    font-size: 1.1em;
    height: 30px;
    outline-color: orange;
    outline-width: 10px;
}
/* .header__elements:hover {
    cursor: pointer;
} */

.header__elements::selection {
    background: transparent;
}
/* .button__container {
    display: flex;
    margin-top: 30px;
    width: 100%;
} 
.button__container {
    display: flex;
    
    width: 100%;
}  */
.button-container_create-tu {
    margin-top: 40px;
}
.combobox-wrapper {
    display: inline-block;
    position: relative;
}
.button-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 35px;
    height: 35px;
    font-family: Helvetica;
    font-size: 1.1em;
    background: linear-gradient(#FE5D4C, #97253D);
    /* background:rgb(241, 229, 229); */
    /* border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray; */
}
.button-wrapper:hover {
    cursor: pointer;
}
.arrow {
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.4s;
}
.arrow::selection {
    background: transparent;
} 
/* .major-menu-header {
    height: 40px; 
    width: 150px;
} */
.create-tu-header {
    height: 40px; 
    width: 150px; 
}

#body-container {
    position: relative;
    width: 608px;
    background: rgba(0,0,0,.7);
    box-shadow: 25px 25px 15px rgba(0,0,0,.9);  
}
.list-container {
    position: absolute;
    width: 100%;
    background: white;
    transform: rotateX(90deg);
    transform-origin: top;
    transition: all 0.5s;
    overflow: auto;
}
.list-container_region {
    max-height: 350px;
}

.list-container_state{ 
    max-height: 350px;
}
.list-container_street{
    max-height: 260px;
}
.list-container_district {
    max-height: 180px;
}
.create-tu-add-menu__button {
    width: 150px;
    height: 40px;
}


.list__items {
    height: 30px;
    font-size: 1.2em;
}
.add-form__wrapper{
    display: inline-block;
    vertical-align: top;
}
.black-wrapper {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.3);
}
.create-tu-add-menu {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;   
    background: rgba(0,0,0,.85);
    padding: 10px;
}
.create-tu-add-menu__header {
    text-align: center;
    border-bottom: 1px solid rgb(233, 144, 144);
    width: 100%;
    height: 24px;
    font-family: Helvetica;
    font-size: 1.2em;
    padding-top: 5px;
    color: whitesmoke;
    background: rgba(0,0,0,.95);
}
.button_exit {
    position: absolute;
    bottom: calc(100% - 40px);
    left: calc(100% - 40px);
    width: 30px;
    height: 30px;
    background: url(pic/close_small1.png) no-repeat center, linear-gradient(#FE5D4C, #97253D);
}
.button_exit:hover {
    cursor: pointer;
}
.button_add__wrapper {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;
    background: linear-gradient(#FE5D4C, #97253D);
    /* background:rgb(241, 229, 229); */
}
.button_add__wrapper:hover {
    cursor: pointer;
}
.button_add {
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.button_add::selection {
    background: transparent;    
}

.create-tu-add-menu__button-container {
    text-align: center;
    border-bottom: 1px solid rgb(233, 144, 144);
    width: 100%;
    height: 24px;
    font-family: Helvetica;
    font-size: 1.2em;
    padding-top: 5px;
    color: whitesmoke;
    background: rgba(0,0,0,.95);
}
.create-tu-add-menu__button-container_region {

}
.create-tu-add-menu_second-line{
    margin-top: 20px;
}
.create-tu-add-menu_region {
    width: 300px;
    height: 170px;
}

.create-tu__data_add-region {
    width: 298px;
}
.create-tu-add-menu__button-wrapper {
    width: 50%;
}
.create-tu-add-menu_state {
    width: 525px;
    height: 170px;
}
.create-tu-add-menu__header_state {
}
.create-tu__prfx-state {
    width: 40px;
}
.create-tu-add-menu__button-add_state {
    margin-left: 70px;
}
.create-tu-add-menu__button-reset_state {
    margin-left: 30px;
}
.create-tu-add-menu-list-container_prfx-state {
    left: 217px;
    width: 78px;
}
.create-tu-add-menu_street {
    width: 525px;
    height: 200px;
}
.create-tu-add-menu__input_prfx-street   {
    width: 40px;
}
.create-tu-add-menu__button-add_street {
    margin-left: 70px;
}
.create-tu-add-menu__button-reset_street {
    margin-left: 30px;
}
.create-tu-add-menu-list-container_prfx-street {
    left: 217px;
    width: 78px;
}
#subMenuTU-container{
    display: none;
    position: absolute;
    width: 600px;
    height: 100px;
    transform: rotate(270deg) translate(-252px, -302px);
}

#create-tu {
    width: 608px;
    border: 1px solid transparent;
    padding-bottom: 20px;
}
.create-tu__line-container {
    display: flex;
}
.create-tu__label {
    font-family: Helvetica;
    font-size: 1.1em;
    color: bisque;
    text-align: center;
}
.create-tu__data {
    font-size: 1.1em;
    height: 29px;
}

/* 1-я строка формы ТУ */
.create-tu__first-line-container {
    margin-top: 40px;
}
.create-tu__first-line-container__element {
    width: 220px;
}
.create-tu__first-line-container__element_sur-name {
    margin-left: 5px;
}
.create-tu__data_first-name {
    width: 95%;
}
.create-tu__data_sur-name {
    width: 95%;
}
.create-tu__data_mid-name {
    width: 95%;
}

/* 2-я строка формы ТУ*/
.create-tu__second-line-container {
    margin-top: 25px;
}
.create-tu__second-line-container__element {
    width: 50%;
}
.create-tu__second-line-container__element_region {
    margin-left: 5px;
}

.create-tu__second-line-container__element_state {
    margin-left: 17px;
}
.create-tu__data_region {
    width: 210px;
}

.create-tu__data_state {
    width: 200px;
}

/* 3-я строка формы ТУ */
.create-tu__third-line-container {
    margin-top: 25px;
}
.create-tu__third-line-container__element {
    margin-left: 5px;
}
.create-tu__third-line-container__element_street {
    width: 300px;
}
.create-tu__data_street {
    width: 210px;
}
.create-tu__data_house {
    width: 45px;
}
.create-tu__data_corps {
    width: 45px;
}
.create-tu__data_apartment {
    width: 40px;
}
.create-tu__third-line-container__element_house {
    width: 45px;
}
.create-tu__third-line-container__element_corps {
    width: 45px;
}
.create-tu__third-line-container__element_apartment {
    width: 45px;
}
.create-tu__third-line-container__element_phone {
    padding-left: 10px;
    width: 132px;
}
.create-tu__data_prfx-phone {
    width: 35px;
}
.create-tu__data_num-phone {
    width: 85px;
}

/* 4-я строка формы ТУ*/
.create-tu__fourth-line-container {
    margin-top: 25px;
}
.create-tu__fourth-line-container__element {
    margin-left: 5px;
}
.create-tu__fourth-line-container__element_district {
    width: 260px;
}
.create-tu__data_district {
    width: 210px;
}
.create-tu__fourth-line-container__element_kadastr {
    width: 200px;
}
.data__label_kadastr-prfx {
    display: inline-block;
    width: 50px;
}
.create-tu__data_kadastr-district {
    width: 75px;
}
.create-tu__data_kadastr-number {
    width: 45px;
}
.create-tu__fourth-line-container__element_address {
    width: 120px;
    padding-left: 3px;
}
.create-tu__data_address {
    height: 75px;
    width: 120px;
}
/* кнопки форма ТУ */
.create-tu__button-wrapper {
    width: 50%;
}
/* .create-tu__button {
    width: 150px;
    height: 40px;
} */
/* .create-tu__button-add {
    margin-left: 110px;
} */
.button__container{
    display: table;
}
.button__container li{
    display: table-cell;
}   
.button__container a{
    display: block;
    margin: auto;
    width: 150px;
    text-decoration: none;
    background: yellow;
    
}
.create-tu__button-reset {
    margin-left: 40px;
}
.create-tu__label_radio {
    display: inline-block;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    font-size: 1.1em;
    display: block;
}
li:hover {
    cursor: pointer;
    background: rgb(201, 209, 209);
}
li::selection {
    background: transparent;
}