
.combobox-wrapper {
    width: 199px;
    height: 40px;
    border: 1px solid green;
}

.button-wrapper {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-family: Helvetica;
    font-size: 1.1em;
    background: linear-gradient(#FE5D4C, #97253D);
}
.button-wrapper:hover {
    cursor: pointer;
}
.arrow {
    line-height: 200%;
    text-align: center;
    border-radius: 50%;
    transition: all 0.4s;
}
.arrow::selection {
    background: transparent;
} 

.create-tu__data {
    font-size: 1.1em;
    height: 29px;
    width: 160px;
    outline-color: orange;
    outline-width: 10px;
    float: left;
}
.list-container {
    position: relative;
    background: white;
    /* height: 60px; */
    transform: rotateX(90deg);
    transform-origin: top;
    transition: all 0.5s;
    border: 1px solid red;
    /* background: blue; */
}
li:hover {
    cursor: pointer;
}