.major-menu {
    width: 100%;
    display: table;
    table-layout: fixed;
    z-index: 1;
}
.major-menu__elements {
    display: table-cell;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
    transition: all 1s;
}
.major-menu__elements div{
    color: whitesmoke;
    text-transform: uppercase;
}
.major-menu__elements div:hover{
    cursor: pointer;
}
.major-menu__elements div::selection{
    background: transparent;
}
.sub-menu-container-header{
    width: 530px;   
    display: none;
    table-layout: fixed;
    position: absolute;
    transform: rotate(270deg);
    top: 285px;
    right: 363px;
}
